<uib-accordion close-others="true">
  <uib-accordion-group heading="Detalles Inscrito"
                       is-open="true"
                       is-disabled="false">
    <div cg-busy="javaDetail.promise" style="overflow-y:auto; overflow-x: hidden">
      <form class="form-horizontal">
        <div class="form-group">
          <label class="col-sm-2 control-label">Nombre</label>

          <div class="col-sm-10">
            <input type="text" class="form-control" ng-model="javaDetail.selected.nombre">
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">Apellido</label>

          <div class="col-sm-10">
            <input type="text" class="form-control" ng-model="javaDetail.selected.apellido">
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">Fecha de Nacimiento</label>

          <div class="col-sm-3">
            <p class="input-group">
              <input type="text"
                     class="form-control"
                     uib-datepicker-popup
                     ng-model="javaDetail.selected.fecha"
                     is-open="javaDetail.isDateOpened"
                     ng-required="true"/>
              <span class="input-group-btn">
                <button type="button" class="btn btn-default"
                        ng-click="javaDetail.openDateSelector()"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
            </p>
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <button ng-disabled="!javaDetail.isValidModel()"
                    ng-click="javaDetail.saveChanges()"
                    uib-tooltip="Esto actualizara los detalles"
                    tooltip-placement="top"
                    tooltip-trigger="mouseenter"
                    tooltip-enable="true"
                    class="btn btn-primary">Guardar</button>
          </div>
        </div>
      </form>
    </div>
    <!--<div ng-include="'app/main/java-detail/anidado/anidado.html'"></div>-->
    <!--<ng-include src="'ruta/archivo.html'">-->
    <!---->
    <!--</ng-include>-->

  </uib-accordion-group>
</uib-accordion>




















